body {
    background-color: #4169E1;
    font-family: Arial, sans-serif;
    text-align: center
}

.firstPage {
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

h1,
h2 {
    color: yellow;
}

.h1 {
    color: white;
}

.p {
    color: white;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    width: 250px;
}